.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  margin-top: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.cart-container {
  padding: 10px;
  background-color: antiquewhite;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
