.form-container {
  width: 500px;
  height: 600px;
  margin: 20px auto;
  background: #ffffff;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  padding-left: 49px;
}

.form-title {
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
  line-height: 42px;
  font-size: 35px;
  letter-spacing: 0.0025em;
  color: #2a414f;
}

.form-control1 {
  margin-top: 20px;
}

.form-control1 label {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.form-control1 input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  border-radius: 5px;
  padding: 5px;
}

.btn-submit {
  width: 415px;
  height: 55px;
  background: rgba(255, 153, 0, 0.3);
  border-radius: 5px;
  margin-top: 50px;
  line-height: 25px;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.0015em;
  color: #0e161a;
  border: none;
}

.btn-submit:hover {
  background: rgba(255, 153, 0, 0.6);
}
