.header {
  height: 80px;
  background-color: #162b3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.header img {
  margin-left: 3rem;
}

.list {
  margin-right: 3rem;
}

.list a {
  text-decoration: none;
  margin: 1rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 500;
}
